<div class="container" style="margin-left: 200px;justify-content: center; ">

  <div class="mytitle" >
      <h2 >Add Product</h2>
  </div>
  <div class="row" >

    <form [formGroup]="addProductForm" style="height:auto;" (ngSubmit)="addProduct(addProductForm.value)">
      <div class="row pt-5" >
        <div  class="col-2 mt-3 offset-1" style="font-weight: bold;">Product Name</div>
        <input type="text" formControlName="name"
         class="form-control col-8" [class.is-invalid]="name.invalid &&name.touched">
         <div *ngIf="name.invalid && name.touched" class="col-12">
          <small class="text-danger col-8 offset-3" *ngIf="name.errors.required">Product Name is required</small>
          </div>
      </div>
          <div class="row pt-2">
              <div class="col-2 mt-3 offset-1" style="font-weight: bold;">Product Price</div>
              <input type="number" formControlName="price"
              class="form-control col-8" [class.is-invalid]="price.invalid &&price.touched">
              <div *ngIf="price.invalid && price.touched" class="col-12">
                <small class="text-danger col-8 offset-3" *ngIf="price.errors.required">Product Price is required</small>
              </div>
          </div>

           <div class="row pt-2">
              <div class="col-2 mt-3 offset-1" style="font-weight: bold;">Product Image</div>
              <input type="file" [src]="imageURL" #Image accept="image/*"
               formControlName="Image" class = "productImg form-control col-8"
             >
                  (change)="handleFileInput($event.target.files)"

          </div>

          <div class="row pt-2">
              <div class="col-2 mt-3 offset-1" style="font-weight: bold;">Product Description</div>
              <input type="text" formControlName="Description"
              class="form-control col-8" [class.is-invalid]="Description.invalid &&Description.touched">
              <div *ngIf="Description.invalid && Description.touched" class="col-6">
                <small class="text-danger col-8 offset-6" *ngIf="Description.errors.required">Product Desscription is required</small>
              </div>
          </div>
          <div class="row pt-2">
              <div class="col-2 mt-3 offset-1" style="font-weight: bold;">Product Discount</div>
              <input type="number" formControlName="discount"
              class="form-control col-8" [class.is-invalid]="discount.invalid && discount.touched">
              <div *ngIf="discount.invalid && discount.touched" class="col-12">
                <small class="text-danger col-8 offset-3" *ngIf="discount.errors.required">Product Discount is required</small>
              </div>
          </div>

          <div class="row pt-2">
              <div class="col-2 mt-3 offset-1" style="font-weight: bold;">Product Quantity</div>
              <input type="number" formControlName="Quantity"
              class="form-control col-8" [class.is-invalid]="Quantity.invalid && Quantity.touched">
              <div *ngIf="Quantity.invalid && Quantity.touched" class="col-12">
                <small class="text-danger col-8 offset-3" *ngIf="Quantity.errors.required">Product Quantity is required</small>
                   </div>
          </div>
          <div class="row pt-2">
            <div class="col-2 mt-3 offset-1" style="font-weight: bold;">Product Category</div>
            <select  class="form-control col-8" fromControlerName="Categories"
            [class.is-invalid]="Categories.invalid && Categories.touched" >

                <option *ngFor="let category of categoryList">{{category.Name}}</option>
            </select>
            <div *ngIf="Categories.invalid && Categories.touched"  class="col-12">
              <small class="text-danger col-8 offset-3" *ngIf="Categories.errors.required">Product Categpry is required</small>
                 </div>

        </div>

          <button class="AddBtn" type="submit">Add Product </button>

       </form>
    </div>
    </div>
<router-outlet></router-outlet>