

<div class="container  registration-form" style="width: 500px;">
<form [formGroup]="LoginForm" class="form-horizontal">
    <div class="form-group">
        <h1>Login</h1>
        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>
        <label for="Name" class="col-sm-3 control-label"> Name*</label>
        <div class="col-sm-9">
            <input type="text" id="Name" formControlName="userName" placeholder="Enter Your Name" [class.is-invalid]="name.invalid && name.touched" class="form-control" autofocus>
            <div *ngIf="name.errors && name.touched">
                <small class="text-danger" *ngIf="name.errors.required">Name is required</small>
                <small class="text-danger" *ngIf="name.errors.pattern">Name must contains only capital and smal characters</small>
  
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password*</label>
        <div class="col-sm-9">
            <input type="password" id="password" formControlName="password" placeholder="password" class="form-control">
            <div *ngIf="password.errors && password.touched">
                <small class="text-danger" *ngIf="password.errors.required">password is required</small>
             </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block" >Login</button>
</form>
</div>