<div class="container" style="margin-left: 220px;justify-content: center;padding-top: 6%;">

<a routerLink="/Product/add" class="btn btn-primary mt-3 mb-3">Add New Product</a>
<table id="ProductsTable" class="table table-hover table-striped" style="border-collapse:collapse; font-size:20px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    <thead>
        <tr>
            <td>Product Name</td>
            <td>Color</td>
            <td>Image</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Modification</td>

        </tr>
    </thead>
    <tbody>

            <tr *ngFor="let product of productList">
                <td>{{product.Name}}</td>

                <td>{{product.Color}}</td>
                <td><img src="./assets/images/b2.jpg" width="80" height="80"></td>
                <td>{{product.Price}}$</td>
                <td id="quantity-product.ID">{{product.Quantity}}</td>
                <td>
                    <a href="" class="btn btn-success" [routerLink]="['/Product/edit/', product.ID]">Update </a>
                    <button class="btn btn-danger deleteBtn" data-proID="product.ID" (click)="deleteProduct(product.ID)" data->Delete</button>
                </td>

            </tr>
      </tbody>
      
    
    </table>
    
    </div>